#page {
    width: 96%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.textarea {
    box-sizing: border-box;
    margin: .5em;
    padding: 2px;
    border: 1px solid #eee;
    border-radius: 4px;
    min-height: 20em;
}

#editor p {
}

.tbfloat {
    position: fixed;
    display: none;
    background: #444;
    color: #fff;
    margin: .4em;
    padding: .4em;
    border: 1px solid #bcf;
    border-radius: 4px;
    box-shadow: 0 0 4px 1px #777;
}

#toolbar {
    background-color: #444;
    border-radius: 3px;
    box-shadow: 0 -1px 3px 0px #777;
    margin: 2px .2em;
    border: 1px solid #000;
}

.tbwrap, .trow {
    margin: .5em 2px;
    padding: 1px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 1px #777, 0 0 1px 1px #000;
    background: #222;
}

.tbwrap {
    display: inline-block;
}

button.fa {
    cursor: pointer;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 1;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    color: #999;
    background-color: #111;
    padding:.2em 0;
    margin: 0;
    width: 2em;
    min-width: 1em;
    border: 0;
    box-shadow: none;
}
input.color {
    width: 4em;
}

input.fspick {
    width: 3em;
}

#fgcolor {
    font-weight: bold;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
    src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.bold:before {
    content: "\f032";
}

.bold {
    font-weight: bold;
}

.underline:before {
    content: "\f0cd";
}

.strike:before {
    content: "\f0cc";
}

.italic:before {
    content: "\f033";
}

.sub:before {
    content: "\f12c";
}

.sup:before {
    content: "\f12b";
}

.eye:before {
    content: "\f06e";
}

.minus:before {
    content: "\f068";
}

.minusall:before {
    content: "\f056";
}

.font:before {
    content: "\f034";
}

.line:before {
    content: "\f147";
}

.aleft:before {
    content: "\f036";
}

.aright:before {
    content: "\f038";
}

.ajust:before {
    content: "\f039";
}

.acenter:before {
    content: "\f037";
}

.save:before {
    content: "\f0c7";
}

.saveas:before {
    content: "\f0c7";
    color: #777;
}

.new:before {
    content: "\f016";
}

.open:before {
    content: "\f15c";
}

.last:before {
    content: "\f15b";
}

.ulist:before {
    content: "\f0ca";
}

.olist:before {
    content: "\f0cb";
}

.indent:before {
    content: "\f03c";
}

.dedent:before {
    content: "\f03b";
}

.link:before {
    content: "\f0c1";
}

.undo:before {
    content: "\f0e2";
}

.redo:before {
    content: "\f01e";
}

blockquote {
    margin: 0 0 0 2em !important;
}

/*----------------------------------------------------*/
@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media print {
    body {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
    }

    * {
        box-shadow: none !important;
        text-shadow: none !important;
    }

    #toolbar {
        display: none;
    }

    #editor, .editor {
        border: 1px solid #eee;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.41cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
